#welcome {
  z-index: 10;
  position: absolute;
  right: 0%;
  text-transform: uppercase;
  background-color: #212529;
  border-radius: 7px;
}
.btnFlotantes {
  position: fixed;
  right: 1%;
  bottom: 15%;
}.cartas{
  width: 33%;
}
